/**
 * Project: Petulant-Octo-Tyrion
 * User: Hector Ordonez
 * Description:
 * Date: 07/04/14 18:00
 */

/******************************************************************************************/
/** COLOR PALETTE                                                                        **/
/**                                                                                      **/
/******************************************************************************************/

/******************************************************************************************/
/** GENERAL STRUCTURE                                                                    **/
/******************************************************************************************/

/** Nav **/
nav {
    position: relative;
    height: 3em;
    width: 100%;
    background-color: #FFFFFF;
}

/** Header **/
header#mainHeader {
    position: relative;
    min-height: calc(100% - 3em); /** Occupy full height, deducting the size of the navigation to avoid header outside full screen on load **/
    width: 100%;
    background-image: url('./../images/header.png');
    background-size: cover;
}

/** The Skills **/
article#articleTheSkills {
    position: relative;
    width: 100%;
    background-color: #FFF;
}

/** The Person **/
article#articleThePerson {
    position: relative;
    width: 100%;
    background: url('./../images/thePerson.png') fixed bottom right;
    background-size: cover;
}

/** The Works **/
article#articleTheWorks {
    position: relative;
    width: 100%;
    background-color: #FFF;
}

/** The Difference **/
article#articleTheDifference {
    position: relative;
    min-height: 75%;
    width: 100%;
    background-image: url('./../images/theDifference.jpg');
    background-size: cover;
}

/** Contact me! **/
footer#mainFooter {
    position: relative;
    background-color: #444;
}

/******************************************************************************************/
/** NAV                                                                                  **/
/******************************************************************************************/
nav {
    line-height: 3em;
}

nav button {
    float: right;
    width: 2em;
    height: 2em;
    background: url('./../images/icon_open.png');
    background-size: contain;
    cursor: pointer;
    border: 0;
}

nav > a {
    height: 100%;
    padding: 0 1em;
    float: left;
}

nav ul {
    height: 100%;
    float: right;
}

nav ul li {
    height: 100%;
    float: left;
}

nav ul a {
    height: 100%;
    font-size: 90%;
    padding: 0 1em;
    display: block;
}

/******************************************************************************************/
/** HEADER                                                                               **/
/******************************************************************************************/

/*********************************************************/
/** Header wrap centers vertically the text block.      **/
/** This text block has the following height:           **/
/** Top and bottom padding: 0.5em + 0.5em x2 (2 blocks) **/
/** Top and bottom margin: 0.5em + 0.5em x2 (2 blocks)  **/
/** Line height h1: base h1 * line height: 2em x 3em    **/
/** Line height h2: base h2 * line height: 1.5em x 3em  **/
/** Total: 2 + 2 + 6 + 4.5 = 14.5em                     **/
/** Which is the height. For the vertical positioning,  **/
/** The half of it has to be set as margin-top.         **/
/*********************************************************/

#mainHeader #header-wrap {
    position: absolute;
    top: 50%;
    margin-top: -7.25em;
    margin-left: auto;
    width: 100%;
    height: 14.5em;
    text-align: center;
    line-height: 3em;
}

#mainHeader #header-wrap h1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5em;
    margin: .5em;
    display: inline-block;
}

#mainHeader #header-wrap h2 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5em;
    margin: .5em;
    display: inline-block;
}

/******************************************************************************************/
/** THE SKILLS                                                                           **/
/******************************************************************************************/
article#articleTheSkills {
    max-width: 50em;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 3em;
}

article#articleTheSkills header {
    line-height: 3em;
    text-align: center;
}

/*********************************************************/
/** Each knowledge is set to cover the half of its      **/
/** column.                                             **/
/** Each column's height is 
/*********************************************************/

article#articleTheSkills .knowledge {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;
    padding-bottom: 50%;
    cursor: pointer;
}

article#articleTheSkills #masterOfPHP {
    background-image: url('./../images/masterOfPHP.png');
}

article#articleTheSkills #masterOfJS {
    background-image: url('./../images/masterOfJS.png');
}

article#articleTheSkills #masterOfCSS {
    background-image: url('./../images/masterOfCSS.png');
}

article#articleTheSkills #masterOfMySQL {
    background-image: url('./../images/masterOfMySQL.png');
}

/******************************************************************************************/
/** THE PERSON                                                                           **/
/******************************************************************************************/
article#articleThePerson .description {
    position: relative;
    left: 15%;
    padding: 10% 0;
    line-height: 2em;
    width: 50%;
    text-align: justify;
}

/******************************************************************************************/
/** THE WORKS                                                                            **/
/******************************************************************************************/
article#articleTheWorks {
    max-width: 50em;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 3em;
}

article#articleTheWorks header {
    margin: 1.5em 0;
    text-align: center;
}

article#articleTheWorks #worksBox {

}

article#articleTheWorks #worksBox .work {
    position: relative;
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;
    padding-bottom: 75%;
    cursor: pointer;
}

article#articleTheWorks #worksBox #sample1 {
    background-image: url('./../images/theWorks_sample1.jpg');
}

article#articleTheWorks #worksBox #sample2 {
    background-image: url('./../images/theWorks_sample2.jpg');
}

article#articleTheWorks #worksBox #sample3 {
    background-image: url('./../images/theWorks_sample3.jpg');
}

article#articleTheWorks #worksBox #sample4 {
    background-image: url('./../images/theWorks_sample1.jpg');
}

article#articleTheWorks #worksBox #sample5 {
    background-image: url('./../images/theWorks_sample2.jpg');
}

article#articleTheWorks #worksBox #sample6 {
    background-image: url('./../images/theWorks_sample3.jpg');
}

/******************************************************************************************/
/** THE DIFFERENCE                                                                       **/
/******************************************************************************************/
article#articleTheDifference header {
    padding-top: 1em;
    line-height: 3em;
    text-align: center;
}

article#articleTheDifference header h2 {
    display: inline;
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.3);
}

article#articleTheDifference .verticalDivision {
    height: 3em;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 1em auto;
}

article#articleTheDifference #differenceContentBox {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    min-height: 10em;
    margin-bottom: 1em;
}

article#articleTheDifference #differenceSelectionBox {
    width: 18em; /** difference options width x 3 **/
    margin: 0 auto;
    overflow: hidden;
}

article#articleTheDifference #differenceSelectionBox div {
    float: left;
    background: no-repeat center;
    padding: 2em 1em;
    width: 4em;
    height: 4em;
}

article#articleTheDifference #differenceContentBox > button {
    position: absolute;
    background: no-repeat center;
    height: 100%;
    width: 15%;
    float: left;
    cursor: pointer;
}

article#articleTheDifference #differenceContentBox > div {
    margin-left: 15%;
    width: 70%;
    float: left;
}


article#articleTheDifference #differenceContentBox button.left {
    background-image: url('./../images/arrowLeft.png');
}

article#articleTheDifference #differenceContentBox button.right {
    background-image: url('./../images/arrowRight.png');
}


article#articleTheDifference #differenceContentBox .title {
    padding: 1em;
    text-align: center;
}

article#articleTheDifference #differenceContentBox .content {
    padding: 1em;
    text-align: center;
}

article#articleTheDifference #differenceSelectionBox #differenceSelector1 {
    background-color: rgba(255, 255, 255, 0.3);
}

article#articleTheDifference #differenceSelectionBox #differenceSelector1 {
    background-image: url('./../images/theDifference_1.png');
}
article#articleTheDifference #differenceSelectionBox #differenceSelector2 {
    background-image: url('./../images/theDifference_2.png');
}
article#articleTheDifference #differenceSelectionBox #differenceSelector3 {
    background-image: url('./../images/theDifference_3.png');
}

/** Hiding by default these differences. **/
article#articleTheDifference #differenceContent2, article#articleTheDifference #differenceContent3 {
    display: none;
}  

/******************************************************************************************/
/** CONTACT ME                                                                           **/
/******************************************************************************************/
footer#mainFooter {
    width: calc(100% - 6em);
    padding: 3em;
    overflow: hidden;
}

footer#mainFooter form > label, footer#mainFooter form > div {
    margin: 1em;
    display: block;
}

footer#mainFooter label input {
    padding-left: 0.5em;
    width: 40%;
}
footer#mainFooter label textarea {
    padding-left: 0.5em;
    width: 80%;
    resize: vertical;
}

footer#mainFooter form > div input {
    padding: 1em;
}

footer#mainFooter .right {
    line-height: 3em;
}

/******************************************************************************************/
/** NAVIGATION PANEL                                                                     **/
/******************************************************************************************/

#webNavPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color: #3D1004;
    display: none;
}

#webNavPanel button {
    float: right;
    width: 2em;
    height: 2em;
    background: url('./../images/icon_close.png');
    background-size: contain;
    cursor: pointer;
    border: 0;
}

/******************************************************************************************/
/** FONT STYLES                                                                          **/
/******************************************************************************************/

h1 {
    font-weight: bold;
    font-family: FontAwesome sans-serif;
    font-size: 2em;
}

h2 {
    font-family: FontAwesome sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: FontAwesome sans-serif;
    font-size: 1.2em;
}

h4 {
    font-family: FontAwesome sans-serif;
    font-size: 1.1em;
}

.ftype_contact {
    font-family: FontAwesome sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

.link1 {
    color: #000;
    transition: background 1s;
}

.link1:hover {
    background-color: rgba(40, 40, 40, 0.6);
}

.ftype_white {
    color: #FFF;
}