/**
 * Project: Petulant-Octo-Tyrion
 * User: Hector Ordonez
 * Description:
 * Date: 07/04/14 18:00
 */

/******************************************************************************************/
/** COLOR PALETTE                                                                        **/
/**                                                                                      **/
/** Dark grey - #222                                                                     **/
/** Light grey - #868686                                                                 **/
/** Turquoise - #1fada3                                                                  **/
/**                                                                                      **/
/******************************************************************************************/

/******************************************************************************************/
/** ALL-SITE STYLES                                                                      **/
/******************************************************************************************/

/** Body **/
body {
    font-size: 100%;
    background-color: #FFF;
}

/** SECTION - Every section has full width. **/
.section {
    position: relative;
    width: 100%;
}

/** SECTION WRAPPER - Section wrappers have limited width in big screens and a margin in the others. **/
.section .wrapper {
    max-width: 64em;
    margin: 0 auto;
}

/** ARTICLE WRAPPER - Article have a distance at top and at bottom. **/
.section .wrapper {
    padding-top: 3em;
    padding-bottom: 3em;
}

/******************************************************************************************/
/** GENERAL STRUCTURE                                                                    **/
/******************************************************************************************/

/** Pseudo element before header for the extra space that does not cover the fixed nav **/
body:before {
    content: '';
    display: block;
    height: 3em;
}

/** Nav **/
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    z-index: 500;
    background-color: #FFF;
    box-shadow: 0 0 4px #868686;
    line-height: 3em;
}

/** Header **/
#mainHeader {
    height: calc(100% - 3em); /** Occupy full height, deducting the size of the navigation to avoid header outside full screen on load **/
    background-image: url('../images/header_background.jpg');
    background-size: cover;
    text-align: center;
}

/** The Skills **/
#articleTheSkills {
    overflow: hidden;
    background-color: #FFF;
}

/** The Person **/
.articleThePerson {
    background: fixed bottom right;
    background-size: cover;
}

/** The Works **/
#articleTheWorks {
    background-color: #FFF;
}

/** The Difference **/
#articleTheDifference {
    background-image: url('../images/theDifference_background.jpg');
}

/** Contact me! **/
#mainFooter {
    background-color: #222;
    overflow: hidden;
}

/******************************************************************************************/
/** NAV                                                                                  **/
/******************************************************************************************/

#nav .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 64em;
    height: 100%;
}

#nav .button { /** Total content has 27px **/
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15.5px;
    width: 3em;
    cursor: pointer;
    padding-top: 5px;
}

#nav  .button > div {
    display: block;
    width: 22px;
    height: 3px; /** x 3 = 9px **/
    background-color: #1fada3;
    margin: 0 auto 5px auto; /* x 3 = 15px **/
}

#nav  > div > a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    height: 100%;
}

#nav  ul {
    height: 100%;
    float: right;
}

#nav  ul li {
    height: 100%;
    float: left;
}

#nav  ul a {
    height: 100%;
    padding: 0 .6em;
    display: block;
}

/******************************************************************************************/
/** HEADER                                                                               **/
/******************************************************************************************/

/*********************************************************/
/** Header wrap centers vertically the text block.      **/
/*********************************************************/
header#mainHeader .wrapper{
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
}

header#mainHeader .wrapper .title {
    display: none;
}

header#mainHeader:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0.25em;
}

header#mainHeader .wrapper h1{
    padding: 0 0.5em;
}

/******************************************************************************************/
/** THE SKILLS                                                                           **/
/******************************************************************************************/

#articleTheSkills .knowledge {
    position: relative;
    overflow: hidden;
    padding: 1em 0;
}

#articleTheSkills .knowledge:not(:last-child):after {
    content: "";
    width: 50%;
    height: 1px;
    margin-top: 25px;
    display: block;
    position: absolute;
    left: 25%;
    z-index: 1;
    box-shadow: 0 0 25px 1px #000000;
}

#articleTheSkills .knowledge ul {
    list-style: square inside;
}

#articleTheSkills .knowledge .text {
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    width: calc(80% - 5em);
}

#articleTheSkills .masterOfPHP .symbol {background-color: #222;}
#articleTheSkills .masterOfSQL .symbol {background-color: #868686;}
#articleTheSkills .masterOfCSS .symbol {background-color: #1fada3;}
#articleTheSkills .masterOfJS  .symbol {background-color: #222;}

#articleTheSkills .knowledge .symbol {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2em;
    padding-bottom: 20%;
    vertical-align: middle;
    background-image: url('../images/theSkills_hexagon.png');
    background-size: 100%;
}

#articleTheSkills .knowledge .symbol .knowledgeName {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    margin-top: -18%;
}

/******************************************************************************************/
/** THE PERSON                                                                           **/
/******************************************************************************************/

#articleThePerson1 { background-image: url('../images/thePerson_background1.jpg'); }
#articleThePerson2 { background-image: url('../images/thePerson_background2.jpg'); }

.articleThePerson {
    /** min-height: 100%; **/
}
.articleThePerson:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.4);
}
.articleThePerson .wrapper {
    position: relative;
}
.articleThePerson .traits{
    position: relative;
    overflow: hidden;
    margin: 3em 0;
}

.articleThePerson .content{
    width: calc(100% - 1em);
    padding: 0 .5em;
    margin: 0 auto;
}

.articleThePerson .content p{
    margin: 1em 0;
}

.articleThePerson .personalTrait {
    text-align: center;
}


.articleThePerson .image {
    position: relative;
    display: block;
    width: 30%;
    background: center no-repeat #fff;
    background-size: 70%;
    margin: 1em auto;
    padding: 1em 1em calc(30% + 1em) 1em;
    border-radius: 50em;
    box-shadow: 0 0 1em 0 #222;
}
    
.articleThePerson .image#personalTraitProactive {
    background-image: url('../images/thePerson_proactive.png');
}

.articleThePerson .image#personalTraitGoalFocused {
    background-image: url('../images/thePerson_goalFocused.png');
}

.articleThePerson .image#personalTraitAttentionToDetail {
    background-image: url('../images/thePerson_attentionToDetail.png');
}

.articleThePerson .image#personalTraitGuitarLover {
    background-image: url('../images/thePerson_guitarLover.png');
}

.articleThePerson .image#personalTraitTravellingLover {
    background-image: url('../images/thePerson_travellingLover.png');
}

.articleThePerson .image#personalTraitStrategyGamesLover {
    background-image: url('../images/thePerson_strategyGamesLover.png');
}


/******************************************************************************************/
/** THE WORKS                                                                            **/
/******************************************************************************************/

#articleTheWorks #projectContainer {
    overflow: hidden;
}

#articleTheWorks #projectContainer .project {
    position: relative;
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;
    padding-bottom: 75%;
    cursor: pointer;
}

#articleTheWorks #projectContainer #sample1 {background-image: url('./../images/theWorks_project1.png');}
#articleTheWorks #projectContainer #sample2 {background-image: url('./../images/theWorks_project2.png');}
#articleTheWorks #projectContainer #sample3 {background-image: url('./../images/theWorks_project3.png');}
#articleTheWorks #projectContainer #sample4 {background-image: url('./../images/theWorks_project4.png');}
#articleTheWorks #projectContainer #sample5 {background-image: url('./../images/theWorks_project5.png');}
#articleTheWorks #projectContainer #sample6 {background-image: url('./../images/theWorks_project6.png');}

/******************************************************************************************/
/** THE DIFFERENCE                                                                       **/
/******************************************************************************************/

#articleTheDifference .content {
    width: calc(100% - 1em);
    overflow: hidden;
    padding: 0 0.5em;
}

article#articleTheDifference header {
    padding-top: 1em;
    line-height: 3em;
    text-align: center;
}

article#articleTheDifference .iconWrapper {
    display: table;
    background-color: #000;
    width: 8em;
    height: 8em;
    border-radius: 50em;
    text-align: center;
    margin: .5em auto;
    box-shadow: 0 0 1em 0 #868686;
}

article#articleTheDifference i {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
}

article#articleTheDifference .ftype_subSectionContent {
    padding: 0 1em;
    text-align: justify;
}

/******************************************************************************************/
/** CONTACT ME                                                                           **/
/******************************************************************************************/

/** Contact inputs **/

#mainFooter .wrapper {
    overflow: hidden;
}

#mainFooter .col2of4:first-child {
    margin-bottom: 2em;
}
#mainFooter .icon {
    background: center no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    margin: 1em 1em 1em 0;
}

#mainFooter .icon.phone{ background-image: url('./../images/contact_phone.png'); }
#mainFooter .icon.mail { background-image: url('./../images/contact_mail.png'); }

#mainFooter #formWrapper .input {
    display: block;
    border: 2px solid #FFFFFF;
    padding: 0.25em;
    margin: 0.3em 0;
    width: 90%;
}

#mainFooter #formWrapper .input:focus {
    border: 2px solid #1fada3;
}

#mainFooter #formWrapper #textAreaForm {
    resize: vertical;
    height: 8em;
}

#mainFooter #buttonForm {
    transition: opacity 0.5s ease;
    background-color: #1fada3;
    padding: 0.2em 0.8em;
    text-transform: uppercase;
    display: inline;
    margin-top: 0.6em;
}

#mainFooter #buttonForm:hover {
    opacity: 0.6;
}

#mainFooter label {
    line-height: 2em;
}

#mainFooter #contactAnswerDisplayer {
    display: inline;
}

#mainFooter .wrapper .content {
    position: relative;
    width: calc(100% - 6em);
    padding: 0 3em;
}
/******************************************************************************************/
/** NAVIGATION PANEL                                                                     **/
/******************************************************************************************/

#webNavPanel {
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 501; /** Over nav **/
    display: none;
    border-left: 1px solid #ddd;
}
#webNavPanel ul {
    position: relative;
    z-index: 501;
    background-color: #fff;
    overflow: hidden;
    
}

#webNavPanel ul li {
    background-color: #fff;
    margin-bottom: 1px;
    display: block;
    text-align: center;
}

#webNavPanel ul li:after {
    content: "";
    width: 75%;
    height: 1px;
    margin-top: -1px;
    display: block;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 25px 1px #000000;
}

#webNavPanel ul li a {
    display: block;
    line-height: 3em;
    padding: 0 1em;
}

/******************************************************************************************/
/** PROJECT WINDOWS                                                                      **/
/******************************************************************************************/
.projectWindow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    z-index: 501;
    display: none;
}

.projectWindow.shown {
    animation: fadeIn 1s ease-out;
    -webkit-animation: fadeIn 1s ease-out;
    display: block;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(-5%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

.projectWindow.hide {
    animation: fadeOut 1s ease-in;
    -webkit-animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(5%);
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(5%);
        opacity: 0;
    }
}

.projectWindow .overlay {
    position: absolute;
    top: -100%;
    left: -100%;
    background-color: rgba(60,60,60, 0.4);
    width: 300%;
    height: 300%;
}

.projectWindow .innerWindow{
    position: relative;
    top: 50%;
    min-height: 30em;
    width: 50%;
    min-width: 20em;
    margin: -15em auto 0 auto;
    background-color: #fff;
    -webkit-box-shadow:  0em 1em 2em 1em rgba(0,0,0,0.2);
        -moz-box-shadow: 0em 1em 2em 1em rgba(0,0,0,0.2);
            box-shadow:  0em 1em 2em 1em rgba(0,0,0,0.2);
}

.projectWindow header{

}

.projectWindow .content{
    padding: 0.5em;
}

.projectWindow .closeWrapper {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 4em 4em ;
    border-color: transparent #1fada3 transparent transparent;
    width: 0;
    height: 0;
}

.projectWindow .close {
    position: absolute;
    top: 0;
    right: -1.8em;
    font-size: 2em;
    color: #222;
    cursor: pointer;
} 

/******************************************************************************************/
/** OTHER STYLES                                                                         **/
/******************************************************************************************/

/** Selected stuff **/
::selection {
    background-color: #1fada3;
}

.hiddenIfUnscrolled {
    visibility: hidden;
}

.scrolledElement {
    animation-name: scrolledElement;
    -webkit-animation-name: scrolledElement;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}


/******************************************************************************************/
/** FONT STYLES                                                                          **/
/******************************************************************************************/

.ftype_navTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color:#1fada3;
    text-decoration: none;
}

.ftype_navLink {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #222;
    transition: background 1s;
    text-decoration: none;
}

.ftype_navLink:hover {
    background-color: rgba(31, 173, 163, 0.6);
}

.ftype_mainTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 2em;
    font-size: 4em;
}

.ftype_mainSubtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 2em;
    font-size: 2.5em;
}

.ftype_sectionTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
}

.ftype_sectionContent {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    font-size: 1.2em;
}

.ftype_subSectionTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
    letter-spacing: .8px;
    color: #fff;
}

.ftype_subSectionContent {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    font-size: 1.2em;
    letter-spacing: .6px;
    color: #fff;
}

.ftype_svg {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    fill: #fff;
    text-anchor: middle;
}

.ftype_input {
    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;    
}

.ftype_sectionTitleDark {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
}

.ftype_sectionContentDark {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
}
.ftype_userMessage {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #1fada3;
}

.fstyle_italic {
    font-style: italic;
}