/**
 * Project: Petulant-Octo-Tyrion
 * User: Hector Ordonez
 * Description:
 * Date: 07/04/14 18:00
 */

/******************************************************************************************/
/** COLOR PALETTE                                                                        **/
/**                                                                                      **/
/******************************************************************************************/

/******************************************************************************************/
/** GENERAL STRUCTURE                                                                    **/
/******************************************************************************************/

/** Nav **/
nav {
    position: relative;
    height: 3em;
    width: 100%;
    background-color: #FFFFFF;
}

/** Header **/
header#mainHeader {
    position: relative;
    min-height: calc(100% - 3em); /** Occupy full height, deducting the size of the navigation to avoid header outside full screen on load **/
    width: 100%;
    background-image: url('./../images/header.png');
    background-size: cover;
}

/** The Works **/
article#articleTheWorks {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: #FFF;
}

/** The Person **/
article#articleThePerson {
    position: relative;
    min-height: 75%;
    width: 100%;
    background: url('./../images/thePerson.png') fixed;
    background-size: cover;
}

/** The Skills **/
article#articleTheSkills {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: #FFF;
}

/** The Difference **/
article#articleTheDifference {
    position: relative;
    min-height: 75%;
    width: 100%;
    background-image: url('./../images/theDifference.jpg');
    background-size: cover;
}

/** Contact me! **/
footer#mainFooter {
    position: relative;
    height: 3em;
    width: 100%;
    background-color: #444;
}

/******************************************************************************************/
/** NAV                                                                                  **/
/******************************************************************************************/
nav {
    line-height: 3em;
}

nav button {
    float: right;
    width: 2em;
    height: 2em;
    background: url('./../images/icon_open.png');
    background-size: contain;
    cursor: pointer;
    border: 0;
}
nav > a {
    height: 100%;
    padding: 0 1em;
    float: left;
}
nav ul {
    float: right;
}
nav ul li {
    margin: 0 0.5em;
    display: inline-block;
}

nav ul a {
    font-size: 90%;
    padding: 0.5em;
}

/******************************************************************************************/
/** HEADER                                                                               **/
/******************************************************************************************/

/*********************************************************/
/** Header wrap centers vertically the text block.      **/
/** This text block has the following height:           **/
/** Top and bottom padding: 0.5em + 0.5em x2 (2 blocks) **/
/** Top and bottom margin: 0.5em + 0.5em x2 (2 blocks)  **/
/** Line height h1: base h1 * line height: 2em x 3em    **/
/** Line height h2: base h2 * line height: 1.5em x 3em  **/
/** Total: 2 + 2 + 6 + 4.5 = 14.5em                     **/
/** Which is the height. For the vertical positioning,  **/
/** The half of it has to be set as margin-top.         **/
/*********************************************************/

#mainHeader #header-wrap {
    position: absolute;
    top: 50%;
    margin-top: -7.25em;
    margin-left: auto;
    width: 100%;
    height: 14.5em;
    text-align: center;
    line-height: 3em;
}

#mainHeader #header-wrap h1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5em;
    margin: .5em;
    display: inline-block;
}

#mainHeader #header-wrap h2 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5em;
    margin: .5em;
    display: inline-block;
}

/******************************************************************************************/
/** THE WORKS                                                                            **/
/******************************************************************************************/

/******************************************************************************************/
/** THE PERSON                                                                           **/
/******************************************************************************************/

/******************************************************************************************/
/** THE SKILLS                                                                           **/
/******************************************************************************************/

/******************************************************************************************/
/** THE DIFFERENCE                                                                       **/
/******************************************************************************************/

/******************************************************************************************/
/** CONTACT ME                                                                           **/
/******************************************************************************************/

/******************************************************************************************/
/** NAVIGATION PANEL                                                                     **/
/******************************************************************************************/

#webNavPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color: #3D1004;
    display: none;
}

#webNavPanel button {
    float: right;
    width: 2em;
    height: 2em;
    background: url('./../images/icon_close.png');
    background-size: contain;
    cursor: pointer;
    border: 0;
}

/******************************************************************************************/
/** FONT STYLES                                                                          **/
/******************************************************************************************/

h1 {
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.ftype_title {
    font-family: FontAwesome sans-serif;
    color: #000;
    transition: background 1s;
}
.ftype_title:hover {
    background-color: rgba(40, 40, 40, 0.6);
}


.ftype_link1 {
    font-family: FontAwesome sans-serif;
    color: #000;
    transition: background 1s;
}
.ftype_link1:hover {
    background-color: rgba(40, 40, 40, 0.6);
}