/**
 * Project: Petulant-Octo-Tyrion
 * User: Hector Ordonez
 * Description:
 * Date: 07/04/14 18:00
 */

/******************************************************************************************/
/** COLOR PALETTE                                                                        **/
/**                                                                                      **/
/** Dark grey - #222                                                                     **/
/** Light grey - #868686                                                                 **/
/** Turquoise - #1fada3                                                                  **/
/**                                                                                      **/
/******************************************************************************************/

/******************************************************************************************/
/** GENERAL STRUCTURE                                                                    **/
/******************************************************************************************/

/** Body **/
body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #FFF;
}

/** Nav **/
nav {
    position: fixed;
    height: 3em;
    width: 100%;
    z-index: 500;
    background-color: #FFF;
    box-shadow: 0 0 4px #868686;
}

/** Fake nav **/
div#fakeNav {
    position: relative;
    height: 3em;
    background-color: #000;
}

/** Header **/
header#mainHeader {
    position: relative;
    height: calc(100% - 3em); /** Occupy full height, deducting the size of the navigation to avoid header outside full screen on load **/
    width: 100%;
    background-image: url('./../images/fondo.jpg');
    background-size: cover;
    text-align: center;
}

/** The Skills **/
article#articleTheSkills {
    position: relative;
    width: 100%;
    background-color: #FFF;
}

/** The Person **/
article#articleThePerson {
    position: relative;
    width: 100%;
    background: url('./../images/thePerson.png') fixed bottom right;
    background-size: cover;
}

/** The Works **/
article#articleTheWorks {
    position: relative;
    width: 100%;
    background-color: #FFF;
}

/** The Difference **/
article#articleTheDifference {
    position: relative;
    min-height: 75%;
    width: 100%;
    background-image: url('./../images/cartographer_1.jpg');
}

/** Contact me! **/
footer#mainFooter {
    position: relative;
    background-color: #222;
    color: #FFF;
    overflow: hidden;
}

/******************************************************************************************/
/** NAV                                                                                  **/
/******************************************************************************************/
nav {
    line-height: 3em;
}

nav .button { /** Total content has 27px **/
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15.5px;
    width: 3em;
    cursor: pointer;
    padding-top: 5px;
}

nav .button > div {
    display: block;
    width: 22px;
    height: 3px; /** x 3 = 9px **/
    background-color: #1fada3;
    margin: 0 auto 5px auto; /* x 3 = 15px **/
}

nav > div > a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    height: 100%;
}

nav ul {
    height: 100%;
    float: right;
}

nav ul li {
    height: 100%;
    float: left;
}

nav ul a {
    height: 100%;
    padding: 0 .6em;
    display: block;
}

/******************************************************************************************/
/** HEADER                                                                               **/
/******************************************************************************************/

/*********************************************************/
/** Header wrap centers vertically the text block.      **/
/*********************************************************/
header#mainHeader #header-wrap {
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
}

header#mainHeader #header-wrap .title {
    display: none;
}

header#mainHeader:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0.25em;
}

header#mainHeader #header-wrap h2{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 2em;
}

header#mainHeader #header-wrap h1{
    font-size: 4em;
    line-height: 2em;
    padding: 0 0.5em;
}

/******************************************************************************************/
/** THE SKILLS                                                                           **/
/******************************************************************************************/
article#articleTheSkills .wrapper {
    position: relative;
    overflow: hidden;
    padding: 3em 0;
}

article#articleTheSkills header {
    line-height: 3em;
    text-align: center;
}

/*********************************************************/
/**                                                     **/
/*********************************************************/

article#articleTheSkills {}

article#articleTheSkills .knowledge {
    position: relative;
    overflow: hidden;
    padding: 1em 0;
}
article#articleTheSkills .knowledge:not(:last-child):after {
    content: "";
    width: 50%;
    height: 1px;
    margin-top: 25px;
    display: block;
    position: absolute;
    left: 25%;
    z-index: 1;
    box-shadow: 0 0 25px 1px #000000;
}

article#articleTheSkills .knowledge .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(80% - 5em);
    line-height: 2em;
}

article#articleTheSkills .masterOfPHP .symbol {background-color: #222; color: #FFF;}
article#articleTheSkills .masterOfSQL .symbol {background-color: #868686;}
article#articleTheSkills .masterOfCSS .symbol {background-color: #1fada3;}
article#articleTheSkills .masterOfJS  .symbol {background-color: #222;}

article#articleTheSkills .knowledge .symbol {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2em;
    padding-bottom: 20%;
    vertical-align: middle;
    background-image: url('./../images/hexagon.png');
    background-size: 100%;
}

article#articleTheSkills .knowledge .symbol .knowledgeName {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 50%;
    margin-top: -18%;
}
/******************************************************************************************/
/** THE PERSON                                                                           **/
/******************************************************************************************/

article#articleThePerson {
    padding: 3em 0;
}

article#articleThePerson header {
        line-height: 3em;
        text-align: center;
}

article#articleThePerson .description {
    position: relative;
    left: 15%;
    padding: 10% 0;
    line-height: 2em;
    width: 50%;
    text-align: justify;
}

/******************************************************************************************/
/** THE WORKS                                                                            **/
/******************************************************************************************/

article#articleTheWorks .wrapper {
    overflow: hidden; /** Stop the floating **/
    padding: 3em 0;
} 

article#articleTheWorks header {
    line-height: 3em;
    text-align: center;
}

article#articleTheWorks #worksBox {

}

article#articleTheWorks #worksBox .work {
    position: relative;
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;
    padding-bottom: 75%;
    cursor: pointer;
}

article#articleTheWorks #worksBox #sample1 {
    background-image: url('./../images/theWorks_project1.png');
}

article#articleTheWorks #worksBox #sample2 {
    background-image: url('./../images/theWorks_project2.png');
}

article#articleTheWorks #worksBox #sample3 {
    background-image: url('./../images/theWorks_project3.png');
}

article#articleTheWorks #worksBox #sample4 {
    background-image: url('./../images/theWorks_project4.png');
}

article#articleTheWorks #worksBox #sample5 {
    background-image: url('./../images/theWorks_project5.png');
}

article#articleTheWorks #worksBox #sample6 {
    background-image: url('./../images/theWorks_project6.png');
}

/******************************************************************************************/
/** THE DIFFERENCE                                                                       **/
/******************************************************************************************/
article#articleTheDifference header {
    padding-top: 1em;
    line-height: 3em;
    text-align: center;
}

article#articleTheDifference header h2 {
    display: inline;
    padding: .5em;
}

article#articleTheDifference .description { 
    line-height: 2em;
}

/******************************************************************************************/
/** CONTACT ME                                                                           **/
/******************************************************************************************/

footer#mainFooter .wrapper {
    position: relative;
    overflow: hidden;
    padding: 3em 0;
}

footer#mainFooter header {
    line-height: 3em;
    text-align: center;
}

/** Contact inputs **/
footer#mainFooter {}

footer#mainFooter p {
    line-height: 2em;
}

footer#mainFooter span {
    font-weight: 600;
}

footer#mainFooter #formWrapper .input {
    border: 2px solid #FFFFFF;
    padding: 0.25em;
    margin: 0.3em 0;
    width: 90%;
    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

footer#mainFooter #formWrapper .input:focus {
    border: 2px solid #1fada3;
}

footer#mainFooter #formWrapper #textAreaForm {
    resize: vertical;
    height: 8em;
}

footer#mainFooter #buttonForm {
    transition: opacity 0.5s ease;
    background-color: #1fada3;
    color: #fff;
    padding: 0.6em 0.9em;
    font-size: 0.8em;
    text-transform: uppercase;
    display: inline;
    margin-top: 0.6em;
}

footer#mainFooter #buttonForm:hover {
    opacity: 0.6;
}

footer#mainFooter label {
    line-height: 2em;
}

#contactAnswerDisplayer {
    display: inline;
}
/******************************************************************************************/
/** NAVIGATION PANEL                                                                     **/
/******************************************************************************************/

#webNavPanel {
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 501; /** Over nav **/
    display: none;
    border-left: 1px solid #ddd;
}
#webNavPanel ul {
    position: relative;
    z-index: 501;
    background-color: #fff;
    overflow: hidden;
    
}

#webNavPanel ul li {
    background-color: #fff;
    margin-bottom: 1px;
    display: block;
}

#webNavPanel ul li:after {
    content: "";
    width: 75%;
    height: 1px;
    margin-top: -1px;
    display: block;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 25px 1px #000000;
}

#webNavPanel ul li a {
    display: block;
    line-height: 3em;
    padding: 0 1em;
}

/******************************************************************************************/
/** FONT STYLES                                                                          **/
/******************************************************************************************/

#siteTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color:#1fada3;
}

h1 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

a {
    font-family: 'Lato', sans-serif;
}

.ftype_contact {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

.link1 {
    color: #000;
    transition: background 1s;
}

.link1:hover {
    background-color: rgba(31, 173, 163, 0.6);
}

.ftype_white {
    color: #FFF;
}

/******************************************************************************************/
/** OTHER STYLES                                                                         **/
/******************************************************************************************/

/** Selected stuff **/
::selection {
    background-color: #1fada3;
}

.hiddenIfUnscrolled {
    visibility: hidden;
}

.scrolledElement {
    animation-name: scrolledElement;
    -webkit-animation-name: scrolledElement;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}