/**
 * Project: Petulant-Octo-Tyrion
 * User: Hector Ordonez
 * Description:
 * Date: 07/04/14 18:00
 */

/******************************************************************************************/
/** COLOR PALETTE                                                                        **/
/**                                                                                      **/
/** Dark grey - #222                                                                     **/
/** Light grey - #868686                                                                 **/
/** Turquoise - #1fada3                                                                  **/
/**                                                                                      **/
/******************************************************************************************/

/******************************************************************************************/
/** ALL-SITE STYLES                                                                      **/
/******************************************************************************************/

/** Body **/
body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #FFF;
}

/** SECTION - Every section has full width. **/
.section {
    position: relative;
    width: 100%;
}

/** SECTION WRAPPER - Section wrappers have limited width in big screens and a margin in the others. **/
.section .wrapper {
    max-width: 64em;
    margin: 0 auto;
}

/** ARTICLE WRAPPER - Article have a distance at top and at bottom. **/
.section .wrapper {
    padding-top: 3em;
    padding-bottom: 3em;
}

header.title {
    line-height: 3em;
    text-align: center;
}

/******************************************************************************************/
/** GENERAL STRUCTURE                                                                    **/
/******************************************************************************************/

/** Pseudo element before header for the extra space that does not cover the fixed nav **/
body:before {
    content: '';
    display: block;
    height: 3em;
}

/** Nav **/
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    z-index: 500;
    background-color: #FFF;
    box-shadow: 0 0 4px #868686;
    line-height: 3em;
}

/** Header **/
#mainHeader {
    height: calc(100% - 3em); /** Occupy full height, deducting the size of the navigation to avoid header outside full screen on load **/
    background-image: url('./../images/fondo.jpg');
    background-size: cover;
    text-align: center;
}

/** The Skills **/
#articleTheSkills {
    background-color: #FFF;
}

/** The Person **/
#articleThePerson {
    background: url('./../images/thePerson.png') fixed bottom right;
    background-size: cover;
}

/** The Works **/
#articleTheWorks {
    background-color: #FFF;
}

/** The Difference **/
#articleTheDifference {
    min-height: 75%;
    background-image: url('./../images/cartographer_1.jpg');
}

/** Contact me! **/
#mainFooter {
    background-color: #222;
    color: #FFF;
    overflow: hidden;
}

/******************************************************************************************/
/** NAV                                                                                  **/
/******************************************************************************************/

#nav .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 64em;
    height: 100%;
}

#nav .button { /** Total content has 27px **/
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15.5px;
    width: 3em;
    cursor: pointer;
    padding-top: 5px;
}

#nav  .button > div {
    display: block;
    width: 22px;
    height: 3px; /** x 3 = 9px **/
    background-color: #1fada3;
    margin: 0 auto 5px auto; /* x 3 = 15px **/
}

#nav  > div > a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    height: 100%;
}

#nav  ul {
    height: 100%;
    float: right;
}

#nav  ul li {
    height: 100%;
    float: left;
}

#nav  ul a {
    height: 100%;
    padding: 0 .6em;
    display: block;
}

/******************************************************************************************/
/** HEADER                                                                               **/
/******************************************************************************************/

/*********************************************************/
/** Header wrap centers vertically the text block.      **/
/*********************************************************/
header#mainHeader .wrapper{
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
}

header#mainHeader .wrapper .title {
    display: none;
}

header#mainHeader:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: 0.25em;
}

header#mainHeader .wrapper h2{
    font-size: 2.5em;
    font-weight: 300;
    line-height: 2em;
}

header#mainHeader .wrapper h1{
    font-size: 4em;
    line-height: 2em;
    padding: 0 0.5em;
}

/******************************************************************************************/
/** THE SKILLS                                                                           **/
/******************************************************************************************/

#articleTheSkills .knowledge {
    position: relative;
    overflow: hidden;
    padding: 1em 0;
}

#articleTheSkills .knowledge:not(:last-child):after {
    content: "";
    width: 50%;
    height: 1px;
    margin-top: 25px;
    display: block;
    position: absolute;
    left: 25%;
    z-index: 1;
    box-shadow: 0 0 25px 1px #000000;
}

#articleTheSkills .knowledge .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(80% - 5em);
    line-height: 2em;
}

#articleTheSkills .masterOfPHP .symbol {background-color: #222;}
#articleTheSkills .masterOfSQL .symbol {background-color: #868686;}
#articleTheSkills .masterOfCSS .symbol {background-color: #1fada3;}
#articleTheSkills .masterOfJS  .symbol {background-color: #222;}

#articleTheSkills .symbol text {
    fill: #fff;
}

#articleTheSkills .knowledge .symbol {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2em;
    padding-bottom: 20%;
    vertical-align: middle;
    background-image: url('./../images/hexagon.png');
    background-size: 100%;
}

#articleTheSkills .knowledge .symbol .knowledgeName {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 50%;
    margin-top: -18%;
}

/******************************************************************************************/
/** THE PERSON                                                                           **/
/******************************************************************************************/

#articleThePerson .description {
    position: relative;
    left: 15%;
    padding: 10% 0;
    line-height: 2em;
    width: 50%;
    text-align: justify;
}

/******************************************************************************************/
/** THE WORKS                                                                            **/
/******************************************************************************************/

#articleTheWorks #worksBox {
    overflow: hidden;
}

#articleTheWorks #worksBox .project {
    position: relative;
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;
    padding-bottom: 75%;
    cursor: pointer;
}

#articleTheWorks #worksBox #sample1 {background-image: url('./../images/theWorks_project1.png');}
#articleTheWorks #worksBox #sample2 {background-image: url('./../images/theWorks_project2.png');}
#articleTheWorks #worksBox #sample3 {background-image: url('./../images/theWorks_project3.png');}
#articleTheWorks #worksBox #sample4 {background-image: url('./../images/theWorks_project4.png');}
#articleTheWorks #worksBox #sample5 {background-image: url('./../images/theWorks_project5.png');}
#articleTheWorks #worksBox #sample6 {background-image: url('./../images/theWorks_project6.png');}

/******************************************************************************************/
/** THE DIFFERENCE                                                                       **/
/******************************************************************************************/

#articleTheDifference header h2 {
    display: inline;
    padding: .5em;
}

#articleTheDifference .description { 
    line-height: 2em;
}

/******************************************************************************************/
/** CONTACT ME                                                                           **/
/******************************************************************************************/

/** Contact inputs **/

#mainFooter .wrapper {
    overflow: hidden;
}

#mainFooter p {
    line-height: 2em;
}

#mainFooter span {
    font-weight: 600;
}

#mainFooter #formWrapper .input {
    border: 2px solid #FFFFFF;
    padding: 0.25em;
    margin: 0.3em 0;
    width: 90%;
    font-family: 'Merriweather', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

#mainFooter #formWrapper .input:focus {
    border: 2px solid #1fada3;
}

#mainFooter #formWrapper #textAreaForm {
    resize: vertical;
    height: 8em;
}

#mainFooter #buttonForm {
    transition: opacity 0.5s ease;
    background-color: #1fada3;
    color: #fff;
    padding: 0.6em 0.9em;
    font-size: 0.8em;
    text-transform: uppercase;
    display: inline;
    margin-top: 0.6em;
}

#mainFooter #buttonForm:hover {
    opacity: 0.6;
}

#mainFooter label {
    line-height: 2em;
}

#mainFooter #contactAnswerDisplayer {
    display: inline;
}

/******************************************************************************************/
/** NAVIGATION PANEL                                                                     **/
/******************************************************************************************/

#webNavPanel {
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 501; /** Over nav **/
    display: none;
    border-left: 1px solid #ddd;
}
#webNavPanel ul {
    position: relative;
    z-index: 501;
    background-color: #fff;
    overflow: hidden;
    
}

#webNavPanel ul li {
    background-color: #fff;
    margin-bottom: 1px;
    display: block;
}

#webNavPanel ul li:after {
    content: "";
    width: 75%;
    height: 1px;
    margin-top: -1px;
    display: block;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 25px 1px #000000;
}

#webNavPanel ul li a {
    display: block;
    line-height: 3em;
    padding: 0 1em;
}

/******************************************************************************************/
/** FONT STYLES                                                                          **/
/******************************************************************************************/

#siteTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color:#1fada3;
}

h1 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.link1 {
    color: #000;
    transition: background 1s;
}

.link1:hover {
    background-color: rgba(31, 173, 163, 0.6);
}

.ftype_white {
    color: #FFF;
}

/******************************************************************************************/
/** PROJECT OVERLAYS                                                                     **/
/******************************************************************************************/
.projectOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    background-color: #fff;
    z-index: 501;
    display: none;
}

.projectOverlay.shown {
    animation: fadeIn 1s ease-out;
    -webkit-animation: fadeIn 1s ease-out;
    display: block;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(-30%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

.projectOverlay.hide {
    animation: fadeOut 1s ease-in;
    -webkit-animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(30%);
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(30%);
        opacity: 0;
    }
}

.projectOverlay .content {
    position: absolute;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -10em;
    background-color: #0f0;
}

.projectOverlay .overlayClose {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    right: 0;
    background-color: #00f;
} 

/******************************************************************************************/
/** OTHER STYLES                                                                         **/
/******************************************************************************************/

/** Selected stuff **/
::selection {
    background-color: #1fada3;
}

.hiddenIfUnscrolled {
    visibility: hidden;
}

.scrolledElement {
    animation-name: scrolledElement;
    -webkit-animation-name: scrolledElement;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-webkit-keyframes scrolledElement {
    0% {
        opacity: 0;
        margin-left: -1em;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}